@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.cardWrapper {
  flex-basis: 30%;
  flex-shrink: 0;
  height: 25rem;
  position: relative;

  .card {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 1px 2px 4px gray;
    border-radius: 0.5em;
    cursor: pointer;

    .saleTag {
      position: absolute;
      background-color: $green;
      padding: 0.3em 1em;
      border-radius: 0.3em;
      top: 0.5em;
      left: 0.5em;
      font-size: 1rem;
      color: white;
    }

    .outOfStock {
      position: absolute;
      background-color: $orange;
      text-transform: uppercase;
      padding: 0.3em 1em;
      border-radius: 0.3em;
      top: 0.5em;
      right: 0.5em;
      font-size: 1rem;
      color: white;
    }

    .img {
      flex-basis: 65%;
      flex-shrink: 0;
      background-repeat: no-repeat !important;
      background-size: contain !important;
      background-position: center !important;
      border-bottom: 1px solid #c6c5ca;
    }

    .content {
      padding: 1em 1.5em;

      .title {
        color: $green;
        font-weight: bold;
        text-transform: uppercase;
        // text-align: center;
        font-size: 1rem;
        font-weight: bold;
      }

      .originalPrice {
        display: inline-block;
        color: gray;
        margin-right: 0.7em;
        text-decoration: line-through;
      }

      .price {
        padding: 0.5em 0;
        display: inline-block;
        font-size: 1rem;
      }
    }

    .button {
      display: block !important;

      .buttonContent {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 1.5rem;
          margin-left: 0.5em;
        }
      }
    }
  }

  @include md-lg {
    flex-basis: 35%;
    height: 20rem;

    .img {
      flex-basis: 60% !important;
    }

    .saleTag {
      font-size: 0.9rem !important;
    }

    .outOfStock {
      font-size: 0.9rem !important;
    }

    .content {
      .title {
        font-size: 0.9rem !important;
      }
      .originalPrice {
        font-size: 0.8rem !important;
      }

      .price {
        font-size: 0.9rem !important;
      }
    }
  }

  @include sm-md {
    flex-basis: 40% !important;
    height: 18rem;

    .img {
      flex-basis: 58% !important;
    }

    .saleTag {
      font-size: 0.8rem !important;
    }

    .outOfStock {
      font-size: 0.8rem !important;
    }

    .content {
      .title {
        font-size: 0.8rem !important;
      }
      .originalPrice {
        font-size: 0.7rem !important;
      }

      .price {
        font-size: 0.8rem !important;
      }
    }
  }
  @include only-sm {
    flex-basis: 65% !important;
    height: 23rem;

    .img {
      flex-basis: 65% !important;
    }

    .saleTag {
      font-size: 0.8rem !important;
    }

    .outOfStock {
      font-size: 0.8rem !important;
    }

    .content {
      .title {
        font-size: 0.8rem !important;
      }
      .originalPrice {
        font-size: 0.7rem !important;
      }

      .price {
        font-size: 0.8rem !important;
      }
    }
  }
}
