@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.icon {
  width: 4rem;
  height: 4rem;
  position: fixed;
  right: 7%;
  bottom: 5%;
  cursor: pointer;

  img {
    width: 100%;
  }

  @include md-down {
    width: 3.5rem;
    height: 3.5rem;
  }
}
