@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.topPost {
  max-width: 60rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 3em 0 1em 0;
  padding: 0 1em;

  .dateTag {
    background-color: $pink;
    // width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3em 1em;
    width: 9rem;
    color: white;
    border-radius: 0.2em;
    margin-bottom: 1em;

    .icon {
      // width: 1.5rem;
      flex-basis: 2rem;
      flex-shrink: 0;

      img {
        width: 100%;
      }
    }
  }
  .postTitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: $green;
    text-align: left;
  }

  @include md-down {
    .dateTag {
      width: 9rem;

      .icon {
        flex-basis: 1.5rem;
      }
    }
  }
}

.seperate {
  width: 95%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.content {
  max-width: 75rem;
  width: 100%;
  padding: 1em;
  left: 50%;
  position: relative;
  transform: translateX(-50%);

  @include md-down {
    img {
      width: 90% !important;
    }
  }
}
