// Colors
$blue: #318fb5;
$pink: #e91e63;
// $green: #04957c;
$green: #81b214;
$orange: #e22526;

// Break point
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
